:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #eaecf6 ;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

/* Container for the viewer and buttons */
.viewer-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Positioning the color buttons on top of the viewer */
.variant-container {
  position: absolute;
  bottom: 10px;  /* Ajuste la distance par rapport au haut du viewer */
  right: 690px; /* Positionne les boutons à droite */
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
}

/* Style des boutons de couleur */
.color-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #eaecf6 ;
  cursor: pointer;
}

.color-button:hover {
  opacity: 1;
  border: 3px solid #3b3b3b ; /* Changement de bordure au survol */
}



