/* Cacher les boutons de couleur avant que le modèle ne soit chargé */
.hide {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #eaecf6;
  --progress-bar-color: rgb(112, 112, 112);
  --progress-bar-height : 15px;
}

/* Container for the viewer and buttons */
.viewer-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Positioning the color buttons on top of the viewer */
.variant-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 12px;
  background-color: #eaecf6; /* Background color */
  border-radius: 10px; /* Rounded corners */
  position: absolute;
  bottom: 10px; /* Positioning at the bottom of the viewer */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Ensures the box is above the viewer */
  border: none;
}

/* Style des boutons de couleur */
.color-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth size and opacity animation */
  border: none;
}

.color-button:hover {
  transform: scale(1.2); /* Button enlarges to 120% on hover */
  opacity: 1;
}
